
hr {
    width: 100%;
}

h3 {
    text-align: center;
}

input {
    background: white;
    color: black;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    border: 1px solid white;
}

.products-form form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.products-form input {
    margin-bottom: 5px;
}

#button-create {
    background: #1da81d;
}

#button-delete {
    background: #d51515;
}
body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

input {
    width: 50%;
    margin-bottom: 10px;
}


.boxMessages {
    align-self: flex-start;
    margin-left: 10px;
}
