<!-- views/admin.handlebars -->
<div class="box">
    <h2>Admin Dashboard</h2>
    <div class="box">
        <h2>Bienvenido, Administrador</h2>
        <p>Este es el panel de administración. Aquí puedes gestionar usuarios, productos, etc.</p>
    </div>
    <div class="buttons-box">
        <a href="/api/users/admin/users" class="button">Manage Users</a>
        <a href="/realTimeProducts" class="button">Manage Products</a>
        <a href="/logout" class="button">Logout</a>
    </div>
</div>