<div class="box">
    <h1>Login</h1>
    <hr>
    
    <form class="box" method="post" action="http://localhost:8080/api/users/login">
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button class="button" type="submit">Login</button>
    </form>
    <br>
    <span><a href="http://localhost:8080/api/users/github" target="_self" class="button">GitHub</a></span>
    <span><a href="http://localhost:8080/register" target="_self" class="button">Register</a></span>
    <br><br>
    <span><a href="http://localhost:8080/forgot-password" target="_self" class="button">Olvidé mi contraseña</a></span>
</div>

{{#if failLogin}}
    <script type="text/javascript">
        alert('Login Failed!');
    </script>
{{/if}}
<script type="text/javascript">
    // Verificar si hay email y contraseña en la URL
    const urlParams = new URLSearchParams(window.location.search);
    const email = urlParams.get('email');
    const password = urlParams.get('password');

    if (email && password) {
        // Decodificar y llenar los campos de entrada
        document.getElementById('email').value = decodeURIComponent(email);
        document.getElementById('password').value = decodeURIComponent(password);

        // Mostrar una alerta con las credenciales provisionales
        alert(`Su usuario y password provisorios son:\nEmail: ${decodeURIComponent(email)}\nPassword: ${decodeURIComponent(password)}`);
    }
</script>