<div class="box">
    <h1>Panel de Usuario</h1>
    <h2>Subir Documentos y Fotos</h2>
    <a href="/realTimeProducts" class="button">Administrar Productos</a>
    <a href="/logout" class="button">Cerrar Sesión</a>
    <form class="box" method="post" action="/api/users/{{user._id}}/documents" enctype="multipart/form-data">
        <label for="profileImage">Imagen de Perfil:</label>
        <input type="file" id="profileImage" name="profileImage">
        
        <label for="productImage">Imagen de Producto:</label>
        <input type="file" id="productImage" name="productImage">
        
        <label for="idDocument">Documento de Identificación:</label>
        <input type="file" id="idDocument" name="idDocument">
        
        <label for="addressDocument">Documento de Dirección:</label>
        <input type="file" id="addressDocument" name="addressDocument">
        
        <label for="statementDocument">Estado de Cuenta:</label>
        <input type="file" id="statementDocument" name="statementDocument">

        <button type="submit" class="button">Subir</button>
    </form>
</div>
<div id="message" style="display:none;">Documentos subidos!</div>

<script>
    if ({{message}}) {
        document.getElementById('message').style.display = 'block';
    }
</script>
