<div class="box">
    <h1>Bienvenido</h1>
    <hr>
    <div class="box">
        <p><b>Nombre:</b> {{user.first_name}}</p>        
        <p><b>Email:</b> {{user.email}}</p>     
        <a href="http://localhost:8080/products?username={{user.first_name}}" class="button">Siguiente</a>  
    </div>
</div>